@font-face {
    font-family: 'bold italic';
    src: url('fonts/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'regular';
    src: url('fonts/OpenSans_SemiCondensed-Regular.ttf')
}

:root {
    --font: 'regular';
    --zadebljanje: 'bold italic';
    --zlatna: #9F9160;
    --pozadina: #071425;
    --meni-pozadina: #05111e;
    --boja: rgb(236, 236, 236);
}

body {
    background-color: var(--pozadina);
    margin: 0;
    overflow-x: hidden;
    color: var(--boja);
    user-select: none;
    transition: background-color .4s;
}

#meni {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color: var(--meni-pozadina);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

#levi-meni {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px;
}

#levi-meni img {
    height: 40px;
}

#meni>a {
    height: 100%;
}

#logo {
    height: calc(100% - 12px);
    margin-top: 6px;
    cursor: pointer;
}

.meni-stavka {
    font-family: var(--font);
    color: var(--boja);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color .1s;
}

.meni-stavka a {
    color: var(--boja);
    text-decoration: none;
}

.meni-stavka a:visited {
    color: var(--boja);
}

a:link {
    text-decoration: none;
    cursor: default;
}

.meni-stavka a:hover,
.meni-stavka:hover {
    color: var(--zlatna);
    cursor: pointer;
}

#ukljuci-iskljuci {
    background-color: #0c2b4e;
    width: 64px;
    height: 34px;
    border-radius: 20px;
    cursor: pointer;
    padding: 2px;
    box-sizing: border-box;
}

#ukljuci-iskljuci-kruzic {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--pozadina);
    transition: .4s;
}

.svetlo-ukljuceno {
    transform: translateX(100%);
    background-color: var(--zlatna) !important;
}

.svetla-pozadina {
    background-color: white;
}

#naslov {
    font-size: 75px;
    font-family: var(--zadebljanje);
}

.svetla-pozadina #naslov {
    color: black;
}

@media only screen and (max-width: 500px) {
    #meni {
        flex-direction: column;
        height: 300px;
        padding: 20px 0;
        font-size: 20px;
    }
    #levi-meni {
        flex-direction: column;
        height: auto;
        gap: 0;
    }
    #ukljuci-iskljuci {
        display: none;
    }
}