#zaglavlje {
    background: url('images/zaglavlje.jpg');
    background-size: 100% auto;
    width: 100%;
    height: 20vw;
    overflow: hidden;
}

#zaglavlje-ime-boga {
    font-size: 80px;
    font-family: var(--zadebljanje);
    margin-left: 20px;
}

#zaglavlje-naslov-boga {
    font-size: 30px;
    font-family: var(--zadebljanje);
    color: var(--gold);
    margin-left: 20px;
}

#kontejner {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    background-color: var(--pozadina);
    width: 1000px;
}

.sposobnost {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    font-family: var(--zadebljanje);
    cursor: pointer;
    transition: background-color .1s;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sposobnost:not(.izabrana-sposobnost):hover {
    background-color: #20233a;
}

.izabrana-sposobnost {
    background-color: var(--meni-pozadina);
}

.broj-sposobnosti {
    font-size: 18px;
}

.ime-sposobnosti {
    color: var(--zlatna);
}

#ime {
    font-family: var(--zadebljanje);
    font-size: 26px;
    padding: 10px;
}

.opis {
    font-family: var(--font);
    display: none;
}

.opis > td {
    padding: 0 10px;
}

.izabran-opis {
    display: table-row;
}