#kontejner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 80px;
}

#bogovi {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.bog-drzac {
    display: inline-block;
    position: relative;
    cursor: pointer;
    perspective: 800px;
}

.bog-drzac:hover .karta-boga {
    transform: rotateX(30deg);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .7);
}

.bog-drzac:hover .karta-boga::after {
    opacity: 1;
}

.bog-drzac:hover .bog-png {
    opacity: 1;
    bottom: 110px;
}

.bog-drzac:hover .ime-boga {
    bottom: 85px;
}

.ah-puc-kartica {
    background: linear-gradient(transparent 50%, black), url('images/cards/standard ah puch.jpg');
}

.bakasura-kartica {
    background: linear-gradient(transparent 50%, black), url('images/cards/standard bakasura.jpg');
}

.cernobog-kartica {
    background: linear-gradient(transparent 50%, black), url('images/cards/standard chernobog.jpg');
}

.fenrir-kartica {
    background: linear-gradient(transparent 50%, black), url('images/cards/standard fenrir.jpg');
}

.tor-kartica {
    background: linear-gradient(transparent 50%, black), url('images/cards/standard thor.jpg');
}

.karta-boga {
    background-size: 318.75px 425px; 
    background-position: center;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    transition: .4s;
    pointer-events: none;
}

.karta-boga::after {
    content: '';
    background: linear-gradient(black, transparent 50%);
    width: 300px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .3s;
}

.bog-png {
    height: 400px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
    pointer-events: none;
}

.bakasura-png {
    background-image: url('images/pngs/bakasura.png');
    width: 350px;
}

.cernobog-png {
    background-image: url('images/pngs/chernobog.png');
    width: 500px;
}

.fenrir-png {
    background-image: url('images/pngs/fenrir.png');
    width: 700px;
}

.tor-png {
    background-image: url('images/pngs/thor.png');
    width: 700px;
}

.ah-puc-png {
    background-image: url('images/pngs/ah puch.png');
    width: 400px;
}

.ime-boga {
    font-size: 40px;
    font-family: var(--zadebljanje);
    color: var(--boja);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
    white-space: nowrap;
}

#kutija {
    display: inline-block;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #2a271d;
    transition: .4s;
    display: flex;
    flex-direction: column;
    background-color: var(--pozadina);
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 5px;
}

#kutija:hover {
    box-shadow: 0 10px 20px 0 black;
}

input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--meni-pozadina);
    outline: none;
    color: var(--boja);
    font-family: var(--font);
    font-size: 22px;
    text-align: center;
}

.red {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

label {
    font-size: 18px;
    font-family: var(--font);
}

.dugme {
    font-family: var(--font);
    font-size: 22px;
    cursor: pointer;
    background-color: #0A223B;
    padding: 2px 8px;
    border-radius: 5px;
    transition: color .1s;
}

.dugme:hover {
    color: var(--zlatna);
}